<div class=" row col-md-12">
    <div class="col-md-9">
        <div class="container main">
            <div class="list-group" style="margin-top: 2%">
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" style="background: #333; color: white;">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Some recommended blogs</h5>
                    </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1"><i class="fa fa-align-justify" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Blog1</h5>
                        <small>3 days ago</small>
                    </div><br>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10" style="margin-left: -5%;">
                            <h6 class="mb-1"> - By Steve Doe</h6>
                        </div>
                        <div class="col-md-1" style="margin-left: 5%;">
                            23 <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        </div>
                    </div>
                    <br/>
                    <p class="mb-1" style="margin-left: 5%;">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.........</p>
                </a>
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1"><i class="fa fa-align-justify" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Blog2</h5>
                        <small>3 days ago</small>
                    </div><br>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10" style="margin-left: -5%;">
                            <h6 class="mb-1"> - By Steve Doe</h6>
                        </div>
                        <div class="col-md-1" style="margin-left: 5%;">
                            23 <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        </div>
                    </div>
                    <br/>
                    <p class="mb-1" style="margin-left: 5%;">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.........</p>
                </a>
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1"><i class="fa fa-align-justify" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Blog3</h5>
                        <small>3 days ago</small>
                    </div><br>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10" style="margin-left: -5%;">
                            <h6 class="mb-1"> - By Steve Doe</h6>
                        </div>
                        <div class="col-md-1" style="margin-left: 5%;">
                            23 <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        </div>
                    </div>
                    <br/>
                    <p class="mb-1" style="margin-left: 5%;">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.........</p>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="container main" style="margin-top: 7%;">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">Recommended Users</div>
                <div class="card-body" style="border-bottom: 1px solid rgba(0,0,0,.125);">
                    <h5 class="card-title"><button id="btnGroupDrop1" type="button" class="btn btn-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background: url('../../../assets/profile.jpg') no-repeat;width: 40px;background-size: 40px auto;height: 40px;border: 0;"></button>
                        User1</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="card-body">
                        <h5 class="card-title"><button id="btnGroupDrop1" type="button" class="btn btn-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background: url('../../../assets/profile.jpg') no-repeat;width: 40px;background-size: 40px auto;height: 40px;border: 0;"></button>
                            User2</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>        
    