<app-nav></app-nav>
<div class=" row col-md-12" style="margin-top: 2%;">
    <div class="col-md-9">
        <div class="container main">
            <div class="card">
                <div class="card-body">
                    <div class="row blogcontent">
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="../../../assets/profile.jpg" alt="Card image cap"/>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h4 class="mb-3" style="text-align: center;"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;Profile</h4>
                            <div class="dropdown-divider" style="margin-bottom: 4%;"></div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" style="background: #333; color: white">Name</span>
                                </div>
                                <input type="text" aria-label="First name" class="form-control" [value]="firstName" disabled>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                </div>
                                <input type="text" aria-label="Last name" class="form-control" [value]="lastName" disabled>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)='editEnable($event)'><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" style="background: #333; color: white">Email</span>
                                </div>
                                <input type="text" aria-label="First name" class="form-control" [value]="email" disabled>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" style="background: #333; color: white">Contact</span>
                                </div>
                                <input type="text" aria-label="First name" class="form-control" [value]="mobile" disabled>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" style="background: #333; color: white;">Description</span>
                                </div>
                                <textarea class="form-control" aria-label="With textarea" disabled></textarea>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <br>
                                <button type="button" class="btn btn-success" style="margin-left: 85%;" disabled>Success</button>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-top: 1%;">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="container main" style="margin-top: 7%;">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header"><i class="fa fa-users" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Followers</div>
                <div class="card-body" style="border-bottom: 1px solid rgba(0,0,0,.125);background: white; color: #333;">
                    <h5 class="card-title"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Follower1</h5>
                </div>
                <div class="card-body" style="border-bottom: 1px solid rgba(0,0,0,.125);background: white; color: #333;">
                    <h5 class="card-title"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Follower2</h5>                 
                </div>
                <div class="card-body" style="background: white; color: #333;padding-top: 1%; padding-bottom: 0%;">
                    <h5 class="card-title" style="float: right; margin-bottom: 1%;">More...</h5>                 
                </div>
            </div>
        </div>
        <div class="container main" style="margin-top: 7%;">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header"><i class="fa fa-users" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Followings</div>
                <div class="card-body" style="border-bottom: 1px solid rgba(0,0,0,.125);background: white; color: #333;">
                    <h5 class="card-title"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Following1</h5>
                </div>
                <div class="card-body" style="border-bottom: 1px solid rgba(0,0,0,.125);background: white; color: #333;">
                    <h5 class="card-title"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Following1</h5>                 
                </div>
                <div class="card-body" style="background: white; color: #333;padding-top: 1%; padding-bottom: 0%;">
                    <h5 class="card-title" style="float: right; margin-bottom: 1%;">More...</h5>                 
                </div>
            </div>
        </div>
    </div>
</div>        
<app-footer></app-footer>