<app-nav></app-nav>
<div class=" row col-md-12">
    <div class="col-md-12">
        <div class="container main">
            <div class="list-group" style="margin-top: 2%">
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Search Results for '{{ this.text }}'</h5>
                    </div>
                </a>
                <a href="/content" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1"><i class="fa fa-align-justify" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<mark>Blog1</mark></h5>
                        <small>3 days ago</small>
                    </div><br>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10" style="margin-left: -5%;">
                            <h6 class="mb-1"> - By Steve Doe</h6>
                        </div>
                        <div class="col-md-1" style="margin-left: 5%;">
                            23 <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        </div>
                    </div>
                    <br/>
                    <p class="mb-1" style="margin-left: 5%;">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.........</p>
                </a>
            </div>
        </div>
    </div>
</div>    
<app-footer></app-footer>    
